:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171517;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "GT Medium";
  src: local("GT Medium"),
   url('./Components/fonts/GTWalsheimPro-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "GT Regular";
  src: local("GT Regular"),
   url('./Components/fonts/GTWalsheimPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: "GT Light";
  src: local("GT Light"),
   url('./Components/fonts/GTWalsheimPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: "GT Bold";
  src: local("GT Bold"),
   url('./Components/fonts/GTWalsheimPro-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "GT Ultrabold";
  src: local("GT Ultrabold"),
   url('./Components/fonts/GTWalsheimPro-UltraBold.ttf') format("truetype");
}
